.quantitySelector {
  display: flex;
  justify-content: space-evenly;
  width: 198px;
  text-align: center;
  font-family: "Sen", sans-serif;
  font-size: 1.1rem;
}

.increase,
.decrease {
  color: white;
  background: #cf9775;
  border: none;
  padding: 13px 10px;
  width: 33%;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.increase > svg,
.decrease > svg {
  fill: white;
}

.decrease {
  border-radius: 100px 0 0 100px;
}
.increase {
  border-radius: 0 100px 100px 0;
}

.input {
  align-self: center;
  margin: 0;
  width: 33%;
}
.increase:disabled,
.decrease:disabled {
  background-color: gray;
  cursor: auto;
}
