.sugarSelector {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 60vw;
}

.sugarSelector input {
  display: none !important;
}

.sugarSelector img {
  filter: opacity(0.2);
  cursor: pointer;
}

.sugarSelector input:checked ~ img {
  filter: none;
}

.cubes_0 {
  height: 19px;
}

.cubes_1 {
  height: 17px;
}

.cubes_2 {
  height: 17px;
}

.cubes_3 {
  height: 40px;
}
