<div class="sugarCube-wrapper">
  <h2>Sugar <span>(in Cubes)</span></h2>
  <section class="sugarCube_selections">
    <div class="sugarCube_none">
      <img src="../../../Images/sugar_none.svg" alt="no sugar cubes" />
    </div>
    <div class="sugarCube_one">
      <img src="../../../Images/sugar_1_none.svg" alt="add one sugar cube" />
    </div>
    <div class="sugarCube_two">
      <img src="../../../Images/sugar_1.svg" alt="add two sugar cubes" />
      <img src="../../../Images/sugar_1.svg" alt="" />
    </div>

    <div class="sugarCube_three">
      <img src="../../../Images/sugar_3.svg" alt="add three sugar cubes" />
    </div>
  </section>
</div>
