.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../../../Images/bg.png);
}

.background > svg {
  width: 30vw;
  height: auto;
  animation: logoFade 2s;
}

@keyframes logoFade {
  from {
    width: 1vw;
    opacity: 0;
    top: 1vh;
  }
  to {
    opacity: 1;
  }
}
