.fullWidth {
  width: 100%;
}

.coffeeList {
  width: 100%;
  background-color: #faf4ee;
  list-style: none;
  padding: 0;
}
.coffeeList > li {
  display: flex;
  align-items: center;
  padding: 20px 0;
}

li > :last-child {
  flex-basis: 20px;
}
li > :first-child {
  flex-basis: 80px;
}
li > p {
  flex-grow: 1;
  padding-left: 20px;
}
