<ul class="coffeeList">
  <li class="espresso">
    <img src="../../../Images/espresso.svg" alt="Espresso" />
    <p>Espresso</p>
    <img src="../../../Images/back.svg" alt="Back" />
  </li>
  <li class="cappuccino">
    <img src="../../../Images/cappuccino.svg" alt="Cappuccino" />
    <p>Cappuccino</p>
    <img src="../../../Images/back.svg" alt="Back" />
  </li>
  <li class="macciato">
    <img src="../../../Images/macciato.svg" alt="Macciato" />
    <p>
      Macciato
    </p>
    <img src="../../../Images/back.svg" alt="Back" />
  </li>
  <li class="mocha">
    <img src="../../../Images/mocha.svg" alt="Mocha" />
    <p>Mocha</p>
    <img src="../../../Images/back.svg" alt="Back" />
  </li>
  <li class="latte">
    <img src="../../../Images/latte.svg" alt="Latte" />
    <p>Latte</p>
    <img src="../../../Images/back.svg" alt="Back" />
  </li>
</ul>
